.inputWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputWrapper input {
    padding: 12px;
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 12px;
}

.inputWrapper textarea {
    padding: 12px;
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 12px;
    resize: none;
    overflow-y: hidden;
}