.sidebarContainer {
    position: sticky;
    top: 1rem;
    align-self: flex-start;

    height: fit-content;

    grid-column: span 3;

    background-color: #2e2e2e;
    border-radius: 0 12px 12px 0;
    padding: 1rem;
    box-shadow: 0 4px 4px #00000040;
}

.navButton {
    display: flex;
    align-items: center;

    width: 75%;

    padding: 12px;
    margin-bottom: 10px;

    background: none;
    border: none;
    border-radius: 40px;
}

.navButton img {
    height: 40px;
    width: 40px;
}

.navButton h3 {
    padding-left: 12px;
    font-size: 20px;
    font-weight: 600;
}

.navButton:hover {
    background-color: #3d3d3d;
}

.active {
    background-color: #363636;
}

@media (max-width: 431px) {
  .sidebarContainer {
    grid-column: span 2;
  }
}