.editContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;


    grid-column: span 10;

    margin-top: 1rem;
}

@media (max-width: 431px) {
  .editContainer {
    grid-column: span 4;
  }
}

@media (min-width: 1200px) {
  .editContainer {
    grid-column: span 8;
  }
}