.topBar {
    justify-self: center;
    margin-bottom: 10px;
}

.feedContainer {
    display: flex;
    justify-content: space-between;
}

.feedList {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px 0px;
    width: 50%;

    list-style: none;
    padding: 0;
    margin: 0;
}