.centerHeader {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 10px 0 10px 0;
    width: 100%;
}

.homeContainer {
    display: inherit;
    align-items: center;
}

.homeContainer h2 {
    margin-left: 2rem;
    font-size: 32px;
}

.navButton {
    display: inherit;
    height: 80px;
    width: 80px;

    padding: 0;
    margin: 0;

    border-radius: 25px;
    border-width: 0px;

    background-color: grey;
}

.navButton:hover {
    background-color: darkgrey;
}

.accessButtons {
    display: inherit;
    align-items: center;
    justify-content: flex-end;
}

.loginButton,
.logoutButton {
    display: inherit;
    align-items: center;
    height: 80px;

    padding: 0;
    margin: 0 0 0 15px;

    border-radius: 25px;
    border-width: 0px;

    background-color: gray;
}

.loginButton p,
.logoutButton p {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px 0 5px;
}

.loginButton:hover,
.logoutButton:hover {
    background-color: darkgray;
}
